<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="ayal.cordova.plugins.airprint"
    version="4.2.9">

   <name>Calendar</name>

   <description>
     This plugin allows you to manipulate the native reminder.
   </description>

   <license>MIT</license>

   <engines>
      <engine name="cordova" version=">=3.0.0" />
   </engines>

   <js-module src="www/AirPrint.js" name="AirPrint">
      <clobbers target="Barcode" />
   </js-module>

  <js-module src="test/tests.js" name="tests">
  </js-module>

  <!-- ios -->
   <platform name="ios">
      <config-file target="config.xml" parent="/*">
         <feature name="AirPrint">
            <param name="ios-package" value="AirPrint" />
         </feature>
      </config-file>
      <header-file src="src/ios/AirPrint.h" />
      <source-file src="src/ios/AirPrint.m" />
      <header-file src="src/ios/APLPrintPageRenderer.h" />
      <source-file src="src/ios/APLPrintPageRenderer.m" />
      <framework src="UIKit.framework" />
   </platform>
   
   <!-- android -->
</plugin>
